<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <label>Old
            <input type="text" name="" id="" v-model="olds">
        </label>
        
        <label >Name
                <input type="text" name="" id="" v-model="names">
            </label>
            <input type="button" value="添加" @click="show">
        <p v-for="item in list" :key="item.name">
        <input type="checkbox" >
       {{item.old}} {{item.name}}
    </p>
    </div>
    <script src="./lib/vue-2.4.0.js"></script>
        <script>    
            var vm= new Vue({
                el:"#app",
                data:{
                    list:[{name:"lisi",old:18},{name:"huanghua",old:13},{name:"小红",old:19}],
                    olds:'',
                    names:'',
                },
                methods:{
                    show(){
                       this.list.unshift({old:this.olds,name:this.names});

                    }
                }

            })
        </script>
</body>
</html>